main {
  min-height: 80vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

.navbar .btnAnimate {
  transition: transform 0.15s ease-in-out;
}

.navbar .btnAnimate:hover {
  transform: scale(1.1, 1.1);
}

.dropdown {
  z-index: 1;
}

/* Home Screen */
.homeScreenRow {
  padding-top: 40vh;
}

.homeScreenCol {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#homeBtn {
  width: 250px;
}

/* Business List */
.businessListRow {
  flex-direction: column;
}

.businessListCol {
  margin: 10px 0;
}

.businessListCard {
  padding: 10px;
}

.businessListCard p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.businessListCard .description {
  font-size: 0.8em;
}

.businessListCard .imgWrapper {
  height: 200px;
  max-width: 200px;
}

.businessListCard .imgWrapper img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.businessListCard .card-title {
  margin-bottom: 0;
  font-size: 1.2em;
  font-weight: bold;
  word-break: break-word;
  max-width: 300px;
}

.businessListCard .card-title:hover {
  text-decoration: none;
}

.businessListCard .card-title-wrap {
  display: flex;
  justify-content: space-between;
}

.businessListCard .type {
  font-size: 0.8em;
  color: grey;
}

@media screen and (max-width: 992px) {
  .businessListCard .card-title {
    max-width: 250px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .businessListCard .card-title {
    max-width: 236px;
  }
}
@media screen and (max-width: 1200px) {
  .businessListCard .card-title {
    font-size: 1em;
  }
}